<p>
	<strong>Name:</strong>
	<%= @inst.name %>
</p>

<p>
	<strong>Contact:</strong>
	<%= @inst.contact %>
</p>

<p>
	<strong>Location:</strong>
	<%= @inst.location %>
</p>

<p>
	<strong>URL:</strong>
	<%= @inst.url %>
</p>

<p>
	<strong>Summary:</strong>
	<%= @inst.summary %>
</p>


<%= link_to 'Back', insts_path %>
<%= link_to 'Edit', edit_inst_path(@inst) %>